.arch-hero {
  &__title {
    //font-family: New York Extra Large;
    font-style: normal;
    font-weight: bold;
    font-size: 112px;
    line-height: 100%;
    letter-spacing: -1px;
    color: #000;
    max-width: 80%;
    padding: 48px 0 60px;

    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }

    @include media-breakpoint-down(md) {
      text-align: center;
      font-size: 70px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 50px;
    }

    span {
      color: $primary;
    }
  }

  &__description {
    //font-family: SF UI Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 1px;
    color: #000;
  }

  &__button {
    display: flex;
    justify-content: start;
    margin-top: 48px;

    @include media-breakpoint-down(md) {
      justify-content: center;
      margin-top: 20px;
    }

    &-link {
      background: $primary;
      border-radius: 4px;
      padding: 10px 15px;
      color: #fff;
      margin-bottom: 50px;

      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
      }
    }
  }

  &__image {
    max-width: 765px;
    width: 100%;
  }
}
